.container__agentes {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    padding: 50px;
    gap: 50px;
}

.filtro__nome {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filtro__text {
    font-family: 'Bruno Ace';
    font-weight: 400;
    font-size: 2.5rem;
}

.filtro__nome input {
    height: 40px;
    width: 10vw;
    font-size: 1.5rem;
}

.filtro__categoria {
    display: flex;
    align-items: center;
    gap: 20px;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    font-family: 'Bruno Ace';
    font-weight: 400;
    font-size: 32px;
    cursor: pointer;
}

li:hover {
    color: #A71921;
}

.card__agente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    border-radius: 20px;
    width: 250px;
    height: 330px;
}

.cards_agentes{
    display: flex;
    flex-wrap: wrap;
    gap: 100px 250px;
}

.card__agente p {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 26px;
    color: white;
}

.card__image{
    width: 240px;
    height: 240px;
}