.container__agentes {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 50px;
    gap: 50px;
}

.filtro__nome {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filtro__text {
    font-family: 'Bruno Ace';
    font-weight: 400;
    font-size: 2.5rem;
}

.filtro__nome input {
    height: 40px;
    width: 10vw;
    font-size: 1.5rem;
}

.filtro__categoria_agentes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filtro__categoria_agentes ul {
    display: flex;
    gap: 20px;
}

.item__categoria__agent {
    font-family: 'Bruno Ace';
    font-weight: 400;
    font-size: 32px;
    cursor: pointer;
    
}

li:hover {
    color: #A71921;
    border: 2px solid #DC3D4B;
}

.cards__agentes{
    display: flex;
    flex-wrap: wrap;
    gap: 100px 250px;
}
