.primary {
    font-family: 'Poppins';
    font-weight: 400;
    width: clamp(15.625rem, 13.875rem + 6.6667vw, 21.875rem);
    margin-bottom: 3rem;
    position: relative;
    display: block;
    font-size: 1.5rem;
    padding: 0.7rem;
    border: 0;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    color: var(--v-red);
    grid-column: 1;
}

.primary:hover {
    color: var(--v-red);
}

.primary::before,
.primary::after {
    background-color: transparent;
    content: "";
    display: block;
    position: absolute;
    height: calc(50% - 0.4rem);
    width: 100%;
    border: 1px solid var(--v-outline);
    left: 0;
}

.primary::before {
    border-bottom: 0;
    top: 0;
}

.primary::after {
    border-top: 0;
    bottom: 0;
}

/* LABEL  */
.label {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.label:before {
    content: "";
    height: 100%;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

/* Hover Effect */
.hover-effect {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 120%;
    top: 0;
    left: -5%;
    z-index: 1;
    background-color: var(--v-black);
    transform: translateX(-100%) skew(-10deg);
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.primary:hover .hover-effect {
    transform: translateX(0) skew(-10deg);
}

/* Label Text */
.label-text {
    position: relative;
    display: block;
    padding: 1.9rem 3rem;
    background-color: transparent;
    z-index: 1;
    color: white;
}

.label-text:after {
    content: "";
    display: block;
    position: absolute;
    height: 0.6rem;
    width: 0.6rem;
    right: 0;
    bottom: 0;
    background-color: var(--v-black);
    transition: background-color 0.2s ease-in;
}

.primary:hover .label-text:after {
    background-color: var(--v-red);
}

/* OUTLINE BUTTON */
.outline {
    color: var(--v-red);
}

.outline .label::before,
.outline .label::after {
    border: 1px solid var(--v-outline);
}

/* OUTLINE RED BUTTON */
.outline+.red {
    color: var(--v-black);
}

.outline+.red:hover {
    color: var(--v-red);
}

.outline+.red .label::before,
.outline+.red .label::after {
    border-color: var(--v-black);
}

/* PRIMARY BUTTON */
.primary {
    color: var(--v-black);
}

.primary .label::before {
    background-color: var(--v-red);
}