footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    height: 100px;
    background-color: var(--background-header-footer);
}

footer p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo span{
    color: white;
    font-size: 3rem;
}

.social__media{
    display: flex;
    gap: 60px;
}

.social__media i{
    font-size: 3rem;
    color: white;
    transition: all 0.5s;
}

.social__media i:hover{
    color: #FF3744;
}