footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    height: 100px;
    background-color: var(--background-header-footer);
}

footer p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: clamp(0.75rem, 0.54rem + 0.8vw, 1.5rem);
    text-align: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo span {
    color: white;
    font-size: 3rem;
}

.social__media {
    display: flex;
    gap: clamp(0.625rem, -0.25rem + 3.3333vw, 3.75rem);
}

.social__media i {
    font-size: clamp(1.25rem, 0.76rem + 1.8667vw, 3rem);
    color: white;
    transition: all 0.5s;
}

.social__media i:hover {
    color: #FF3744;
}

@media (max-width: 720px){
    footer{
        padding: 0px 5vw;
    }
}

@media (max-width: 640px){
    .logo span {
        display: none;
    }
}

@media (max-width: 520px){
    .social__media{
        display: flex;
        flex-direction: column;
    }
}