.container__home {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    place-items: center;
}

.container__home img {
    width: 35vw;
    height: 70vh;
}

.container__main h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: clamp(1.25rem, 0.9rem + 1.3333vw, 2.5rem);
    width: 100%;
    color: #333333;
}

.container__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1.25rem, 0.9rem + 1.3333vw, 2.5rem);
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container__main p {
    width: 40vw;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: clamp(0.75rem, 0.645rem + 0.4vw, 1.125rem);
    color: #444444;
}

@media (max-width: 768px){
    .container__home{
        display: grid;
        grid-template-columns: 100%;
    }

    .container__main p {
        width: 80vw;
    }

    .container__home img {
        width: 80vw;
        height: 70vh;
        margin-bottom: 50px;
    }
}

@media (max-width: 520px){
    .container__home img {
        width: 80vw;
        height: 50vh;
    }
}

@media (max-width: 425px){
    .container__home img {
        width: 80vw;
        height: 40vh;
    }
}