.container__mapas {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: clamp(1.375rem, 0.885rem + 1.8667vw, 3.125rem) 50px;
    gap: clamp(2rem, 1.685rem + 1.2vw, 3.125rem);
    background-color: var(--second-color);
}

.cards__mapas{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1.25rem, -0.15rem + 5.3333vw, 6.25rem) clamp(1.25rem, -3.65rem + 18.6667vw, 18.75rem);
}

.titulo__mapas {
    font-family: 'Bruno Ace';
    font-weight: 400;
    font-size: clamp(1.5rem, 1.22rem + 1.0667vw, 2.5rem);
}

@media (max-width: 1440px){
    .cards__mapas{
        justify-content: center;
    }
}