.container__mapas {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 50px;
    gap: 50px;
    background-color: var(--second-color);
}

.cards__mapas{
    display: flex;
    flex-wrap: wrap;
    gap: 100px 300px;
}

.titulo__mapas {
    font-family: 'Bruno Ace';
    font-weight: 400;
    font-size: 2.5rem;
}

