*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li, ol {
    list-style: none;
}

body{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    height: 100vh;
    /* background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

:root {
    --background-header-footer: #111111;
    --primary-color: #F9F9F9;
    --second-color: #DC3D4B;
}

#root{
    height: 100%;
}